<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <mat-icon *ngIf="!expandable">
      accessibility_new</mat-icon>
      <span *ngIf="expandable"> Superheroes</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/heroes">Heroes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" (window:resize)="onResize($event)" class="fixed">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!expandable"> {{title}}</span>
      <span style="flex: 1 1 0"></span>
      <app-hero-search [expand]="expandable" [shift]="!(isHandset$ | async)" [class.exapanded]="expandable"></app-hero-search>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
