.search {
	width: 200px;
}
.search input {
	color: #fff;
}
.search mat-icon {
	padding: 0;
	margin: 0;
	font-size: 100%;
}
.search-result {
	padding-top: 0;
	position: absolute; 
	right: 16px; 
	top: 48px;
	width: 300px;
	z-index: 10;
	background-color: #ffffff;
	cursor: pointer;
}
.search-result mat-list-item:hover {
	background-color: rgba(0,0,0,.04);
}
.expanded {
	width: 100%;
}
.expanded.search-result {
	left: 16px !important;
	width: auto;
}
.shift {
	right: 216px;
}